<html>
    <head>
        <title>Netflix India – Watch TV Shows Online, Watch Movies Online</title>
        <link rel="stylesheet" href="/stylesheets/home.css">
    </head>

    <body>
        <div class="header-bg">
            <div class="header">
                <img class="netflix-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/1597px-Netflix_2015_logo.svg.png?20190206123158" alt="">
                <div class="menu">
                    <div class="language-selector">
                        <a class="english-lang" href="#" onclick="changeLanguage('English')">English</a>
                    </div>
                    <div class="sign-in">
                        <button class="sign-in-button">Sign In</button>
                    </div>
                </div>
            </div>

            <div class="banner-content">
                <div class="heading-price-desc">
                <h1 class="banner-content-heading">Unlimited movies, TV<br>shows and more</h1>
                <h5 class="banner-content-price-heading">Starts at ₹149. Cancel anytime.</h5>
                <p class="banner-content-desc">Ready to watch? Enter your email to create or restart your membership.</p>
                </div>
                <div class="banner-content-signup">
                    <input class="email-input" type="email" placeholder="Email address">
                    <button class="banner-content-button">Get Started  > </button>
                </div>
            </div>

        </div>
        
    </body>
</html>