
body {
    margin: 0;
    padding: 0;
    background-color: #141414;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

img {
    cursor: pointer;
}

.poster {
    background-image: url("/netflix/images/stranger_things.jpg");
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

.name_logo_desc {
    color: white;
    display: block;
    width: 500px;
    height: 95vh;
    position: relative;
}

.stranger_things_logo{
    position: absolute;
    margin-left: -50px;
    bottom: 250px;
    width: 600px;
}

.heading_desc {
    position: absolute;
    bottom: 130px;
    width: 500px;
    margin-left: 50px;
    padding: 15px;
}

.heading {
    height: 25px;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
    gap:10px;
}

h5 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.buttons {
    display: flex;
    gap: 15px;
}


.button_play {
    display: flex;
    justify-content: center;
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons a {
    text-decoration: none;
}

.button_more_info {
    background-color: #515153;
    color: white;
    border: none;
    font-size: 20px;
    padding: 5px 15px;
    padding: 10px 25px;
    border-radius: 5px;

}

.button_play:hover {
    background-color: #e6e6e6;
}
.button_more_info:hover {
    background-color: #6c6c6c;
}

.top_10 {
    width: 35px;
    height: 35px
}

.header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    background-color: transparent;
    padding: 20px;
    align-items: center;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.netflix_logo {
    width: 100px;
    padding-left: 40px;
}

.menu {
    display: flex;
    gap: 20px;
    margin-left: 40px;
}

.right_side {
    padding-top: 20px;
    display: flex;
    gap:25px;
    position: absolute;
    right: 100px;
    text-align: center;
}

.right_side_icons {
    font-size: 20px;
    display: flex;
    gap: 25px;
}

#profile_icon {
    width: 30px;
    border-radius: 3px;
}

#notification_icon {
    font-size: 20px;
}

#search_icon{
    font-size: 20px;
}

#down_arrow {
    position: absolute;
    padding-top: 10px;
    left: 127px;
}

#top_picks {
    background-color: aqua;
    display: flex;
}


.top_heading {
    margin-top: -140px;
    padding-left: 65px;
    color: white;
}

.content_images{
    padding-left: 65px;
    display: flex;
    gap: 8px;
    box-sizing: border-box;
    overflow-x: auto;           /* Horizontal scrolling */
    white-space: nowrap;   
}

.content_images::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.content_images img {
    width: 100%; /* Adjust width for small screens */
    max-width: 200px; /* Prevents images from becoming too large */
    height: auto;
}

.tv_heading {
    padding-left: 65px;
    color: white;
}

.footer {
    padding-left: 250px;
    padding-top: 20px;
    background-color: transparent;
    color: #b1b1b1
}

.social {
    margin-top: 100px;
    display: flex;
    gap:20px
}

.social a {
    color: white;
    text-decoration: none;
    font-size: 26px;
}

.footer_options {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 35px;
    display: flex;
    gap: 150px
}

.footer_options .options a {
    text-decoration: none;
    display: block; /* Ensure each link is on a new line */
    color: #b1b1b1; /* Add this if you want the links to be white */
    margin-bottom: 15px; /* Optional: adds space between the links */
    font-size: 12px;
}

.footer_country {
    margin-top: -35px;
    display: flex;
}

.footer_button {
    border: 1px solid gray;
    background-color: transparent;
    color: gray;
    padding: 8px 10px;
    font-size: 12px;
}

.copyright_text {
    font-size: 10px;
    color: gray;
}